<div id="verticalNavLayout" class="layout-pf layout-pf-fixed" style="background-color: white;">
    <pfng-vertical-navigation #myNav id="myNav" [brandAlt]="applicationName" [contentContainer]="contentContainer"
        [items]="navigationItems" [persistentSecondary]="false" [pinnableMenus]="false" [showBadges]="true"
        [showIcons]="true" [updateActiveItemsOnClick]="false">
        <div>
            <ul class="nav navbar-nav navbar-right navbar-iconic">
                <li class="dropdown">
                </li>
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" dropdownToggle>
                        <span title="Help" class="fa pficon-help"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" *dropdownMenu>
                        <li><a (click)="openModal(helpTemplate)">Help</a></li>
                        <li><a (click)="openModal(aboutTemplate)">About</a></li>
                    </ul>
                </li>
                <li *ngIf="hasAuthentication" class="dropdown" dropdown>
                    <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" dropdownToggle>
                        <span title="Username" class="fa pficon-user">{{ username }}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" *dropdownMenu>
                        <li *ngIf="!loggedIn"><a (click)="login($event)">Login</a></li>
                        <li *ngIf="loggedIn"><a (click)="logout($event)">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </pfng-vertical-navigation>
    <div #contentContainer
        class="container-fluid container-cards-pf container-pf-nav-pf-vertical example-page-container nav-pf-vertical-with-badges"
        style="background-color: white; overflow-y: auto">
        <ng-template #aboutTemplate>
            <pfng-about-modal [config]="aboutConfig" (onCancel)="closeModal($event)">
            </pfng-about-modal>
        </ng-template>
        <router-outlet></router-outlet>
        <ng-template #helpTemplate>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Help</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Build icon and color meanings</h3>
                <div class="row">
                    <div class="col-sm-3">Meaning</div>
                    <div class="col-sm-3 text-center">Ready to be packaged</div>
                    <div class="col-sm-3 text-center">Packaged</div>
                    <div class="col-sm-3 text-center">No more deployed</div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm-3">Icon</div>
                    <div class="col-sm-3 text-center">
                        <span class="as myApp myApp-laptop-code myApp-orange"></span>
                    </div>
                    <div class="col-sm-3 text-center">
                        <span class="as myApp myApp-laptop-code myApp-green"></span>
                    </div>
                    <div class="col-sm-3 text-center">
                        <span class="as myApp myApp-laptop-code myApp-grey"></span>
                    </div>
                </div>
                <p></p>
                <h3>Platform icon and color meanings</h3>
                <div class="row">
                    <div class="col-sm-4">Meaning</div>
                    <div class="col-sm-2 text-center">Qualification</div>
                    <div class="col-sm-2 text-center">KeyUser</div>
                    <div class="col-sm-2 text-center">Pilot</div>
                    <div class="col-sm-2 text-center">Production</div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm-4">Not deployed yet</div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-user-shield"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cart-check"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cash-register"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-store"></span>
                    </div>
                </div>
                <p></p>
                <div class="row myApp-red">
                    <div class="col-sm-4">One or more patches missing (not deployed)</div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-user-shield"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cart-check"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cash-register"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-store"></span>
                    </div>
                </div>
                <p></p>
                <div class="row myApp-orange">
                    <div class="col-sm-4">Deployed but not validated yet</div>
                    <div class="col-sm-2 text-center"> 
                        <span class="fas myApp myApp-user-shield"></span> 
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cart-check"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cash-register"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-store"></span>
                    </div>
                </div>
                <p></p>
                <div class="row myApp-green">
                    <div class="col-sm-4">Deployed and validated</div>
                    <div class="col-sm-2 text-center"> 
                        <span class="fas myApp myApp-user-shield"></span> 
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cart-check"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cash-register"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-store"></span>
                    </div>
                </div>
                <p></p>
                <div class="row myApp-grey">
                    <div class="col-sm-4">No more deployed (but was)</div>
                    <div class="col-sm-2 text-center"> 
                        <span class="fas myApp myApp-user-shield"></span> 
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cart-check"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-cash-register"></span>
                    </div>
                    <div class="col-sm-2 text-center">
                        <span class="fas myApp myApp-store"></span>
                    </div>
                </div>
                <p></p>
            </div>
        </ng-template>
    </div>
</div>