<h2>My Patchs</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <button (click)="openModal(createPatch)" class="btn btn-default">Add new Patch</button>
            <ng-template #createPatch>
                <app-patch-create></app-patch-create>
            </ng-template>
        </div>
    </div>
</div>


<div class="col-sm-12">
    <div class="form-group">
        <pfng-list id="myList" [actionTemplate]="actionTemplate" [expandTemplate]="expandTemplate" [items]="patchs"
            [itemTemplate]="patchTemplate">
            <ng-template #patchTemplate let-item="item" let-index="index">
                <div class="list-pf-content-wrapper">
                    <div class="list-pf-main-content">
                        <div class="list-pf-title">{{item.version.versionNumber}}</div>
                    </div>
                    <div class="list-pf-additional-content">
                        <div>
                            <div class="list-pf-description">{{item.issues[0].reference}} -
                                {{item.issues[0].description}}</div>
                        </div>
                    </div>
                    <div class="list-pf-additional-content">
                        <pfng-list-expand-toggle [expandId]="'build'" [item]="item" [template]="buildTemplate">
                            <ng-template #buildTemplate>
                                <span class="fas myApp myApp-laptop-code"></span>
                            </ng-template>
                        </pfng-list-expand-toggle>
                        <pfng-list-expand-toggle [expandId]="'qualification'" [item]="item" [template]="qualificationTemplate">
                            <ng-template #qualificationTemplate>
                                <span class="fas myApp myApp-user-shield"></span>
                            </ng-template>
                        </pfng-list-expand-toggle>
                        <pfng-list-expand-toggle [expandId]="'keyuser'" [item]="item" [template]="keyuserTemplate">
                            <ng-template #keyuserTemplate>
                                <span class="fas myApp myApp-cart-check"></span>
                            </ng-template>
                        </pfng-list-expand-toggle>
                        <pfng-list-expand-toggle [expandId]="'pilot'" [item]="item" [template]="pilotTemplate">
                            <ng-template #pilotTemplate>
                                <span class="fas myApp myApp-cash-register"></span>
                            </ng-template>
                        </pfng-list-expand-toggle>
                        <pfng-list-expand-toggle [expandId]="'production'" [item]="item" [template]="productionTemplate">
                            <ng-template #productionTemplate>
                                <span class="fas myApp myApp-store"></span>
                            </ng-template>
                        </pfng-list-expand-toggle>
                    </div>
                </div>
            </ng-template>
            <ng-template #actionTemplate let-item="item" let-index="index">
                <pfng-action class="list-pf-actions" [config]="getActionConfig(item, actionButtonTemplate, startButtonTemplate)"
                    (onActionSelect)="handleAction($event, item)">
                    <ng-template #actionButtonTemplate let-action="action">
                        <span class="fa fa-plus">&nbsp;</span>{{action.title}}
                    </ng-template>
                    <ng-template #startButtonTemplate let-action="action">
                        {{item.started === true ? "Starting" : action.title}}
                    </ng-template>
                </pfng-action>
            </ng-template>
            <ng-template #expandTemplate let-item="item" let-index="index">
                <div *ngIf="item.expandId === 'build'">
                    <div class="margin-left-20">
                        <h4>Build</h4>
                        <div class="col-sm-4">
                            <div><strong>Build Date</strong></div>
                            <div>{{item.buildDate | date}}</div>
                        </div>
                        <div class="col-sm-4">
                            <div><strong>Package Date</strong></div>
                            <div>{{item.patckageDate | date}}</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="item.expandId === 'qualification'">
                    <div class="margin-left-20">
                        <h4>Qualification</h4>
                        <div class="col-sm-4">
                            <div><strong>Deploy Date</strong></div>
                            <div>{{item.qualification.deployDate | date}}</div>
                        </div>
                        <div class="col-sm-4">
                            <div><strong>Validation Date</strong></div>
                            <div>{{item.qualification.validationDate | date}}</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="item.expandId === 'keyuser'">
                    <div class="margin-left-20">
                        <h4>Key User Qualification</h4>
                        <div class="col-sm-4">
                            <div><strong>Deploy Date</strong></div>
                            <div>{{item.keyuser.deployDate | date}}</div>
                        </div>
                        <div class="col-sm-4">
                            <div><strong>Validation Date</strong></div>
                            <div>{{item.keyuser.validationDate | date}}</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="item.expandId === 'pilot'">
                    <div class="margin-left-20">
                        <h4>Pilot</h4>
                        <div class="col-sm-4">
                            <div><strong>Deploy Date</strong></div>
                            <div>{{item.pilot.deployDate | date}}</div>
                        </div>
                        <div class="col-sm-4">
                            <div><strong>Validation Date</strong></div>
                            <div>{{item.pilot.validationDate | date}}</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="item.expandId === 'production'">
                    <div class="margin-left-20">
                        <h4>Production</h4>
                        <div class="col-sm-4">
                            <div><strong>Deploy Date</strong></div>
                            <div>{{item.production.deployDate | date}}</div>
                        </div>
                        <div class="col-sm-4">
                            <div><strong>Validation Date</strong></div>
                            <div>{{item.production.validationDate | date}}</div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </pfng-list>
    </div>
</div>