<div class="col-lg-12">
    <ol class="fas breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/patches']">
                Patches
            </a>
        </li>
        <li class="breadcrumb-item active">
            {{versionNumber}} - {{ sequenceNumber }}
        </li>
        <span style="float: right">
            <pfng-action class="my-actions" [config]="actionConfig" (onActionSelect)="handleAction($event)">
            </pfng-action>
        </span>
    </ol>
</div>
<div class="col-lg-12">
    <div class="loading-container" *ngIf="loading; else loaded">
        <div class="loading">
            <div class="spinner spinner-lg"></div>
            <span>Loading</span>
        </div>
    </div>

    <ng-template #loaded>
        <div *ngIf="patch; else error">
            <tabset #staticTabs>
                <tab #tab_overview (select)="currentTab = PatchDetailTabEnum.OVERVIEW">
                    <ng-template tabHeading>
                        <span>Overview</span>
                    </ng-template>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4>
                                <span class="fas {{RELEASE_CONSTANT.iconStyleClass}}"></span>
                                <span>{{RELEASE_CONSTANT.title}}
                                    <a routerLink="/release/{{versionNumber}}">{{versionNumber}}</a>
                                </span>
                                <div *ngIf="patch.undeployed" style="color:red;"><strong>No more deployed</strong></div>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-laptop-code" [class.myApp-green]="patch.packageDate && !patch.undeployed"
                                [class.myApp-orange]="!patch.packageDate && !patch.undeployed" [class.myApp-grey]="patch.undeployed"></span><span>Build</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Build Date</strong></div>
                                <div *ngIf="patch.buildDate">{{patch.buildDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Package Date</strong></div>
                                <div *ngIf="patch.packageDate">{{patch.packageDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-user-shield"
                                    [appHistoryColor]="patch.qualification"></span>
                                <span>Test platform</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Deploy Date</strong></div>
                                <div *ngIf="patch.qualification">{{patch.qualification.deployDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Validation Date</strong></div>
                                <div *ngIf="patch.qualification">{{patch.qualification.validationDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Undeploy Date</strong></div>
                                <div *ngIf="patch.qualification">{{patch.qualification.undeployDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-cart-check" [appHistoryColor]="patch.keyUser"></span>
                                <span>Qualification platform</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Deploy Date</strong></div>
                                <div *ngIf="patch.keyUser">{{patch.keyUser.deployDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Validation Date</strong></div>
                                <div *ngIf="patch.keyUser">{{patch.keyUser.validationDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Undeploy Date</strong></div>
                                <div *ngIf="patch.keyUser">{{patch.keyUser.undeployDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-cash-register" [appHistoryColor]="patch.pilot"></span>
                                <span>Pilot platform</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Deploy Date</strong></div>
                                <div *ngIf="patch.pilot">{{patch.pilot.deployDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Validation Date</strong></div>
                                <div *ngIf="patch.pilot">{{patch.pilot.validationDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Undeploy Date</strong></div>
                                <div *ngIf="patch.pilot">{{patch.pilot.undeployDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-store" [appHistoryColor]="patch.production"></span>
                                <span>Production platform</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Deploy Date</strong></div>
                                <div *ngIf="patch.production">{{patch.production.deployDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Validation Date</strong></div>
                                <div *ngIf="patch.production">{{patch.production.validationDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Undeploy Date</strong></div>
                                <div *ngIf="patch.production">{{patch.production.undeployDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4>
                                <span>Comment</span>
                            </h4>
                            <markdown ngPreserveWhitespaces [data]="patch.comment"></markdown>
                        </div>
                    </div>
                </tab>
                <tab #tab_releasenote [active]="currentTab === PatchDetailTabEnum.RELEASE_NOTE" (select)="currentTab = PatchDetailTabEnum.RELEASE_NOTE">
                    <ng-template tabHeading>
                        <span class="fas {{issueIconStyleClass}}"></span> <span class="padding-left-5">Release note
                            ({{patch.issues.length}})</span>
                    </ng-template>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <pfng-toolbar [config]="issueToolbarConfig" (onActionSelect)="handleAction($event)"
                                    (onFilterChange)="filterChanged($event, PatchDetailTabEnum.RELEASE_NOTE)"
                                    (onSortChange)="handleSortChanged($event, PatchDetailTabEnum.RELEASE_NOTE)">
                                </pfng-toolbar>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <pfng-list id="myList" [items]="issues" [itemTemplate]="issueTemplate"
                            [actionTemplate]="issueActionTemplate">
                            <ng-template #issueTemplate let-item="item" let-index="index">
                                <div class="list-pf-left" [ngSwitch]="item.container">
                                    <img src="assets/images/mantis_logo.png" class="list-pf-icon-small"
                                        *ngSwitchCase="'MANTIS'" />
                                    <img src="assets/images/jira.svg" class="list-pf-icon-small"
                                        *ngSwitchCase="'JIRA'" />
                                </div>
                                <div class="list-pf-content-wrapper">
                                    <div class="list-pf-main-content">
                                        <div class="list-pf-title">
                                            {{item.reference}}
                                            <div class="list-pf-description" style="font-weight: initial;">
                                                {{item.description}}</div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #issueActionTemplate let-item="item" let-index="index">
                                <pfng-action class="list-pf-actions" [config]="issueActionConfig"
                                    (onActionSelect)="handleAction($event, item)">
                                </pfng-action>
                            </ng-template>
                        </pfng-list>
                        <pfng-pagination [config]="issuePaginationConfig"
                            (onPageNumberChange)="handlePageNumber($event, PatchDetailTabEnum.RELEASE_NOTE)"
                            (onPageSizeChange)="handlePageSize($event, PatchDetailTabEnum.RELEASE_NOTE)">
                        </pfng-pagination>
                    </div>
                </tab>
            </tabset>
        </div>
    </ng-template>

    <ng-template #error>
        <pfng-empty-state [config]="errorConfig"></pfng-empty-state>
    </ng-template>
    <ng-template #updatePatch>
        <app-patch-update [patch]="patch" (close)="onWizardClose($event)"></app-patch-update>
    </ng-template>
</div>