<div class="col-lg-12">
    <ol class="fas breadcrumb">
        <li class="breadcrumb-item active">
            Patches
        </li>
    </ol>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <pfng-toolbar [config]="toolbarConfig" (onActionSelect)="handleAction($event)"
                (onFilterChange)="filterChanged($event)" (onSortChange)="handleSortChanged($event)">
            </pfng-toolbar>
            <ng-template #createPatch>
                <app-patch-create (close)="onWizardClose($event)"></app-patch-create>
            </ng-template>
            <ng-template #importPatch>
                <app-patch-import (close)="onImportWizardClose($event)"></app-patch-import>
            </ng-template>
        </div>
    </div>
</div>


<div class="col-sm-12">
    <div class="form-group">
        <pfng-list id="myList" [actionTemplate]="actionTemplate" [items]="items"
            [itemTemplate]="patchTemplate">
            <ng-template #patchTemplate let-item="item" let-index="index">
                <div class="list-pf-content-wrapper">
                    <div class="list-pf-main-content">
                        <div class="list-pf-title">
                            <a routerLink="/patch/{{item.release.version.versionNumber}}/{{item.sequenceNumber}}">{{item.release.version.versionNumber}}
                                - {{item.sequenceNumber}}</a>
                        </div>
                    </div>
                    <div class="list-pf-additional-content" style="justify-content:flex-start; flex-basis: 16%">
                        <div>
                            <span class="fa list-pf-title">{{item.issues.length}}</span> <span
                                class="fas {{issueIconStyleClass}}"></span>
                        </div>
                    </div>
                    <div class="list-pf-additional-content" style="justify-content:flex-end">
                        <div>
                            <span class="fas fa myApp myApp-laptop-code" [class.myApp-green]="item.packageDate"
                                [class.myApp-orange]="!item.packageDate"></span>
                        </div>
                        <div>
                            <span class="fas fa myApp myApp-user-shield" [appHistoryColor]="item.qualification"></span>
                        </div>
                        <div>
                            <span class="fas fa myApp myApp-cart-check" [appHistoryColor]="item.keyUser"></span>
                        </div>
                        <div>
                            <span class="fas fa myApp myApp-cash-register" [appHistoryColor]="item.pilot"></span>
                        </div>
                        <div>
                            <span class="fas fa myApp myApp-store" [appHistoryColor]="item.production"></span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #actionTemplate let-item="item" let-index="index">
                <pfng-action class="list-pf-actions" [config]="patchActionConfig"
                    (onActionSelect)="handleAction($event, item)">
                </pfng-action>
            </ng-template>
        </pfng-list>
        <ng-template #updatePatch>
            <app-patch-update [patch]="selectedPatch" (close)="onWizardClose($event)"></app-patch-update>
        </ng-template>

        <pfng-pagination [config]="paginationConfig" (onPageNumberChange)="handlePageNumber($event)"
            (onPageSizeChange)="handlePageSize($event)"></pfng-pagination>
    </div>
</div>