<pfng-wizard #wizard [config]="wizardConfig" (onCancel)="closeWizard()" (onNext)="nextClicked($event)"
    (onStepChange)="stepChanged($event)">
    <pfng-wizard-step [config]="step1Config">
        <!-- Step 1A: Details -->
        <pfng-wizard-substep [config]="step1aConfig" [reviewTemplate]="step1aReviewTemplate">
            <form class="form-horizontal">
                <div class="form-group required">
                    <label class="col-sm-4 control-label  required-pf" for="myList">Version</label>
                    <div class="col-sm-8">
                        <input id="myList" [(ngModel)]="releaseVersion" [typeahead]="releases" class="form-control"
                            typeaheadOptionField="version.versionNumber" [ngModelOptions]="{standalone: true}"
                            (typeaheadOnSelect)="onSelectVersion($event)">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-4 control-label required-pf" for="sequence">Sequence</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="sequence" name="sequence" type="text" required
                            [(ngModel)]="data.sequenceNumber" (ngModelChange)="updateVersion()">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-4 control-label" for="Undeploy">Undeploy</label>
                    <div class="col-sm-8">
                        <ui-switch [(ngModel)]="data.undeployed" [ngModelOptions]="{standalone: true}"></ui-switch>
                    </div>
                </div>
            </form>
        </pfng-wizard-substep>
        <!-- Step 1B: Settings -->
        <pfng-wizard-substep [config]="step1bConfig" [reviewTemplate]="step1bReviewTemplate">
            <form class="form-horizontal">
                <div class="col-sm-12">
                    <form class="form-horizontal">
                        <div class="form-group required">
                            <label class="col-sm-4 control-label required-pf" for="issueReference">Add existing
                                issue</label>
                            <div class="col-sm-4" style="border-right: 1px solid;">
                                <input class="form-control" id="issueReference" name="issueReference"
                                    [(ngModel)]="selectIssue" [ngModelOptions]="{standalone: true}"
                                    typeaheadOptionField="reference" [typeahead]="issues" [typeaheadScrollable]="true"
                                    [typeaheadMinLength]="0" (typeaheadOnSelect)="onSelectIssue($event)"
                                    autocomplete="off">
                            </div>
                            <div class="col-sm-4" style="border-left: 1px">
                                <button (click)="openCreateIssue()">Create New Issue</button>
                            </div>
                        </div>
                    </form>
                    <ng-template #createIssue>
                        <app-issue-create (close)="onCreateIssueClose($event)"></app-issue-create>
                    </ng-template>
                </div>
                <hr />
                <div class="col-sm-12" style="overflow-y: auto;">
                    <pfng-list id="myList" [config]="issuesListConfig" [items]="data.issues"
                        [itemTemplate]="issuesTemplate" (onSelectionChange)="handleIssuesSelectionChange($event)">
                        <ng-template #issuesTemplate let-item="item" let-index="index">
                            <div class="list-pf-content-wrapper">
                                <div class="list-pf-left" [ngSwitch]="item.container">
                                    <img src="assets/images/mantis_logo.png" class="list-pf-icon-small"
                                        *ngSwitchCase="'MANTIS'" />
                                    <img src="assets/images/jira.svg" class="list-pf-icon-small"
                                        *ngSwitchCase="'JIRA'" />
                                </div>
                                <div class="list-pf-main-content">
                                    <div class="list-pf-title">
                                        {{item.reference}}
                                        <div class="list-pf-description" style="font-weight: initial;">
                                            {{item.description}}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </pfng-list>
                </div>
            </form>
        </pfng-wizard-substep>
    </pfng-wizard-step>
    <pfng-wizard-step [config]="step2Config">
        <!-- Step 2A: Details -->
        <pfng-wizard-substep [config]="step2aConfig" [reviewTemplate]="step2aReviewTemplate">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="aliquam">Build Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.buildDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fermentum">Package Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.packageDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </form>
        </pfng-wizard-substep>
        <!-- Step 2B: Settings -->
        <pfng-wizard-substep [config]="step2bConfig" [reviewTemplate]="step2bReviewTemplate">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="aliquam">Deploy Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.qualification.deployDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fermentum">Validation Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.qualification.validationDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fermentum">Undeploy Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.qualification.undeployDate" [ngModelOptions]="{standalone: true}"
                            [attr.disabled]="patch.release.qualification?.undeployDate ? '' : null">
                    </div>
                </div>
            </form>
        </pfng-wizard-substep>
        <!-- Step 2C: Settings -->
        <pfng-wizard-substep [config]="step2cConfig" [reviewTemplate]="step2cReviewTemplate">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="aliquam">Deploy Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.keyUser.deployDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fermentum">Validation Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.keyUser.validationDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fermentum">Undeploy Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.keyUser.undeployDate" [ngModelOptions]="{standalone: true}"
                            [attr.disabled]="patch.release.keyUser?.undeployDate ? '' : null">
                    </div>
                </div>
            </form>
        </pfng-wizard-substep>
        <!-- Step 2D: Settings -->
        <pfng-wizard-substep [config]="step2dConfig" [reviewTemplate]="step2dReviewTemplate">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="aliquam">Deploy Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.pilot.deployDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fermentum">Validation Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.pilot.validationDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fermentum">Undeploy Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.pilot.undeployDate" [ngModelOptions]="{standalone: true}"
                            [attr.disabled]="patch.release.pilot?.undeployDate ? '' : null">
                    </div>
                </div>
            </form>
        </pfng-wizard-substep>
        <!-- Step 2E: Settings -->
        <pfng-wizard-substep [config]="step2eConfig" [reviewTemplate]="step2eReviewTemplate">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="aliquam">Deploy Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.production.deployDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fermentum">Validation Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.production.validationDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fermentum">Undeploy Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [(ngModel)]="data.production.undeployDate" [ngModelOptions]="{standalone: true}"
                            [attr.disabled]="patch.release.production?.undeployDate ? '' : null">
                    </div>
                </div>
            </form>
        </pfng-wizard-substep>
    </pfng-wizard-step>
    <pfng-wizard-step [config]="step3Config">
        <!-- Step 3A: Review -->
        <pfng-wizard-substep [config]="step3aConfig">
            <pfng-wizard-review></pfng-wizard-review>
        </pfng-wizard-substep>
        <!-- Step 3B: Deploy -->
        <pfng-wizard-substep [config]="step3bConfig" (onShow)="startDeploy()">
            <div class="wizard-pf-contents">
                <div class="wizard-pf-process blank-slate-pf" *ngIf="!deployComplete">
                    <div class="spinner spinner-lg blank-slate-pf-icon"></div>
                    <h3 class="blank-slate-pf-main-action">Update in progress</h3>
                </div>
                <div class="wizard-pf-complete blank-slate-pf" *ngIf="deployComplete && deploySuccess">
                    <div class="wizard-pf-success-icon"><span class="glyphicon glyphicon-ok-circle"></span></div>
                    <h3 class="blank-slate-pf-main-action">Update was successful</h3>
                </div>
                <div class="wizard-pf-complete blank-slate-pf" *ngIf="deployComplete && !deploySuccess">
                    <div class="wizard-pf-success-icon"><span class="pficon pficon-error-circle-o"></span></div>
                    <h3 class="blank-slate-pf-main-action">Update failed</h3>
                </div>
            </div>

        </pfng-wizard-substep>
    </pfng-wizard-step>
</pfng-wizard>
<!-- Step 1A: Details -->
<ng-template #step1aReviewTemplate>
    <form class="form">
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Version:</span>
            <span class="wizard-pf-review-item-value">{{data.release.version.versionNumber}}</span>
        </div>
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Sequence:</span>
            <span class="wizard-pf-review-item-value">{{data.sequenceNumber}}</span>
        </div>
    </form>
</ng-template>
<!-- Step 1B: Settings -->
<ng-template #step1bReviewTemplate>
    <form class="form">
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Issues:</span>
        </div>
        <div class="wizard-pf-review-item" *ngFor="let item of data.issues">
            <span class="wizard-pf-review-item-value">{{item.reference}} - {{item.description}}</span>
        </div>
    </form>
</ng-template>
<!-- Step 2A: Details -->
<ng-template #step2aReviewTemplate>
    <form class="form">
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Build Date:</span>
            <span class="wizard-pf-review-item-value">{{data.buildDate | date}}</span>
        </div>
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Package Date:</span>
            <span class="wizard-pf-review-item-value">{{data.packageDate | date}}</span>
        </div>
    </form>
</ng-template>
<!-- Step 2B: Settings -->
<ng-template #step2bReviewTemplate>
    <form class="form">
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Deploy Date:</span>
            <span class="wizard-pf-review-item-value">{{data.qualification.deployDate | date}}</span>
        </div>
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Validation Date:</span>
            <span class="wizard-pf-review-item-value">{{data.qualification.validationDate | date}}</span>
        </div>
    </form>
</ng-template>
<!-- Step 2C: Settings -->
<ng-template #step2cReviewTemplate>
    <form class="form">
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Deploy Date:</span>
            <span class="wizard-pf-review-item-value">{{data.keyUser.deployDate | date}}</span>
        </div>
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Validation Date:</span>
            <span class="wizard-pf-review-item-value">{{data.keyUser.validationDate | date}}</span>
        </div>
    </form>
</ng-template>
<!-- Step 2D: Settings -->
<ng-template #step2dReviewTemplate>
    <form class="form">
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Deploy Date:</span>
            <span class="wizard-pf-review-item-value">{{data.pilot.deployDate | date}}</span>
        </div>
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Validation Date:</span>
            <span class="wizard-pf-review-item-value">{{data.pilot.validationDate | date}}</span>
        </div>
    </form>
</ng-template>
<!-- Step 2E: Settings -->
<ng-template #step2eReviewTemplate>
    <form class="form">
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Deploy Date:</span>
            <span class="wizard-pf-review-item-value">{{data.production.deployDate | date}}</span>
        </div>
        <div class="wizard-pf-review-item">
            <span class="wizard-pf-review-item-label">Validation Date:</span>
            <span class="wizard-pf-review-item-value">{{data.production.validationDate | date}}</span>
        </div>
    </form>
</ng-template>