<pfng-wizard #wizard [config]="wizardConfig" (onCancel)="closeWizard()"
    (onNext)="nextClicked($event)" (onStepChange)="stepChanged($event)">
    <pfng-wizard-step [config]="step1Config">
        <form class="form-horizontal">
            <div class="form-group required">
                <label class="col-sm-4 control-label required-pf" for="container">Format</label>
                <div class="col-sm-8">
                    <div class="col-sm-6">
                        <input class="col-sm-2" type="radio" id="container" name="container" value="CSV"
                            [(ngModel)]="fileFormat" (ngModelChange)="updateFormatFile()">
                        <label class="col-sm-10" for="CSV">CSV</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="col-sm-2" type="radio" id="container" name="container" value="JSON"
                            [(ngModel)]="fileFormat" (ngModelChange)="updateFormatFile()">
                        <label class="col-sm-10" for="JSON">JSON (experimental)</label>
                    </div>
                </div>
            </div>
            <div [ngSwitch]="fileFormat">
                <div *ngSwitchCase="'CSV'">
                    <div class="col-sm-6">
                        <markdown [src]="'src/app/issue/help/csv-format.md'"></markdown>
                    </div>
                    <div class="col-sm-6">
                        <markdown [src]="'src/app/issue/help/csv-example.md'"></markdown>
                    </div>
                </div>
                <div *ngSwitchCase="'JSON'">
                    <div class="col-sm-6">
                        <markdown [src]="'src/app/issue/help/json-format.md'"></markdown>
                    </div>
                    <div class="col-sm-6">
                        <markdown [src]="'src/app/issue/help/json-example.md'"></markdown>
                    </div>
                </div>
            </div>
        </form>
    </pfng-wizard-step>
    <pfng-wizard-step [config]="step2Config">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label required-pf" for="container">File Selection</label>
            </div>
            <div class="form-group" [ngSwitch]="uploader.queue.length">
                <div *ngSwitchCase="0">
                    <div class="well my-drop-zone" [ngxDragAndDrop]="dndOptions" *ngxInputFile="optionsInput">
                        <h5>Drop files here to upload</h5>
                        <h6>Or click here to select local files.</h6>
                    </div>
                </div>
                <div *ngSwitchDefault>
                    <div class="col-sm-12" *ngIf="itemFile">
                        <div class="col-sm-4">Name: {{ itemFile.file.name }}</div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="itemFile.remove()">
                                Remove
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="errorMessage && errorMessage !== ''">
                        <div> Error: {{ errorMessage }}</div>
                        <markdown ngPreserveWhitespaces lineHighlight [line]="errorLine">
                            ```
                            {{ fileReader.result }}
                            ```
                        </markdown>
                    </div>
                </div>
            </div>
        </form>
    </pfng-wizard-step>
    <pfng-wizard-step [config]="step3Config">
        <div class="form-group">
            <pfng-list id="myList" [items]="issuesToDisplay" [itemTemplate]="itemTemplate" [config]="listConfig"
                (onSelectionChange)="handleSelectionChange($event)">
                <ng-template #itemTemplate let-item="item" let-index="index">
                    <div class="list-pf-left" [ngSwitch]="item.container">
                        <img src="/src/assets/images/mantis_logo.png" class="list-pf-icon list-pf-icon-small"
                            *ngSwitchCase="'MANTIS'" />
                        <img src="/src/assets/images/jira.svg" class="list-pf-icon list-pf-icon-small"
                            *ngSwitchCase="'JIRA'" />
                    </div>
                    <div class="list-pf-content-wrapper">
                        <div class="list-pf-main-content">
                            <div class="list-pf-title">{{item.reference}}</div>
                            <div class="list-pf-description">{{item.globalReference}}</div>
                        </div>
                        <div class="list-pf-additional-content">
                            <div>
                                <div class="list-pf-description">{{item.description}}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </pfng-list>
            <pfng-pagination [config]="paginationConfig" (onPageNumberChange)="handlePageNumber($event)"
                (onPageSizeChange)="handlePageSize($event)"></pfng-pagination>

        </div>
    </pfng-wizard-step>

    <pfng-wizard-step [config]="stepFinaleConfig" (onShow)="startDeploy()">
        <pfng-list id="myList" [items]="selectIssues" [itemTemplate]="itemDeployTemplate" [config]="listConfig"
            (onSelectionChange)="handleSelectionChange($event)">
            <ng-template #itemDeployTemplate let-item="item" let-index="index">
                <div class="list-pf-left" [ngSwitch]="item.container">
                    <img src="/src/assets/images/mantis_logo.png" class="list-pf-icon list-pf-icon-small"
                        *ngSwitchCase="'MANTIS'" />
                    <img src="/src/assets/images/jira.svg" class="list-pf-icon list-pf-icon-small"
                        *ngSwitchCase="'JIRA'" />
                </div>
                <div class="list-pf-content-wrapper" [ngSwitch]="item.container">
                    <div class="list-pf-main-content">
                        <div class="list-pf-title">{{item.reference}}</div>
                        <div class="list-pf-description">{{item.globalReference}}</div>
                    </div>
                    <div class="list-pf-additional-content" style="justify-content: flex-end" [ngSwitch]="item.deploy">
                        <div *ngSwitchDefault>
                            <div class="spinner spinner-lg blank-slate-pf-icon"></div>
                        </div>
                        <div *ngSwitchCase="'SUCCESS'">
                            <span class="list-pf-icon-small glyphicon glyphicon-ok-circle"></span>
                        </div>
                        <div *ngSwitchCase="'FAILURE'">
                            <span class="list-pf-icon-small pficon pficon-error-circle-o"></span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </pfng-list>
        <pfng-pagination [config]="paginationConfig" (onPageNumberChange)="handlePageNumber($event)"
            (onPageSizeChange)="handlePageSize($event)"></pfng-pagination>
    </pfng-wizard-step>
</pfng-wizard>