<h2>My Issues</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <pfng-toolbar [config]="toolbarConfig" (onActionSelect)="handleAction($event)"
                (onFilterChange)="filterChanged($event)">
            </pfng-toolbar>
            <ng-template #createIssue>
                <app-issue-create></app-issue-create>
            </ng-template>
        </div>
    </div>
</div>


<div class="col-sm-12">
    <div class="form-group">
        <pfng-list id="myList" [items]="items" [itemTemplate]="itemTemplate" [actionTemplate]="actionTemplate">
            <ng-template #itemTemplate let-item="item" let-index="index">
           <div class="list-pf-left" [ngSwitch]="item.container">
              <img src="/src/assets/images/mantis_logo.png" class="list-pf-icon list-pf-icon-small" *ngSwitchCase="'MANTIS'"/>
              <img src="/src/assets/images/jira.svg" class="list-pf-icon list-pf-icon-small" *ngSwitchCase="'JIRA'"/>
            </div>
                 <div class="list-pf-content-wrapper">
                    <div class="list-pf-main-content">
                        <div class="list-pf-title">{{item.reference}}</div>
                        <div class="list-pf-description">{{item.globalReference}}</div>
                    </div>
                    <div class="list-pf-additional-content">
                        <div>
                            <div class="list-pf-description">{{item.description}}</div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #actionTemplate let-item="item" let-index="index">
                <pfng-action class="list-pf-actions" [config]="issueActionConfig"
                    (onActionSelect)="handleAction($event, item)">
                </pfng-action>
            </ng-template>
        </pfng-list>
            <ng-template #updateIssue>
                <app-issue-update></app-issue-update>
            </ng-template>
            <pfng-pagination [config]="paginationConfig" (onPageNumberChange)="handlePageNumber($event)"
                (onPageSizeChange)="handlePageSize($event)"></pfng-pagination>
        
    </div>
</div>