<pfng-wizard #wizard [config]="wizardConfig" (onCancel)="closeWizard()"
    (onNext)="nextClicked($event)" (onStepChange)="stepChanged($event)">
    <pfng-wizard-step [config]="step1Config">
        <form class="form-horizontal">
            <div class="form-group required">
                <label class="col-sm-4 control-label required-pf" for="name">Issue reference</label>
                <div class="col-sm-8">
                    <input class="form-control" id="reference" name="Issue reference" type="text" required
                        [(ngModel)]="data.reference" (ngModelChange)="updateName()">
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-4 control-label" for="name">Issue parent reference</label>
                <div class="col-sm-8">
                    <input class="form-control" id="globalReference" name="Issue parent reference" type="text"
                        [(ngModel)]="data.globalReference">
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-4 control-label required-pf" for="name">Issue description</label>
                <div class="col-sm-8">
                    <input class="form-control" id="description" name="Issue description" type="text" required
                        [(ngModel)]="data.description" (ngModelChange)="updateName()">
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-4 control-label required-pf" for="container">Issue container</label>
                <div class="col-sm-8">
                    <div class="col-sm-6">
                        <input class="col-sm-2" type="radio" id="container" name="container" value="MANTIS"
                            [(ngModel)]="data.container"  (ngModelChange)="updateName()">
                        <label class="col-sm-10" for="MANTIS">Mantis</label>
                        <img src="assets/images/mantis_logo.png" class="col-sm-6" />
                    </div>
                    <div class="col-sm-6">
                        <input class="col-sm-2" type="radio" id="container" name="container" value="JIRA"
                            [(ngModel)]="data.container"  (ngModelChange)="updateName()">
                        <label class="col-sm-10" for="JIRA">Jira</label>
                        <img src="assets/images/jira.svg" class="col-sm-6" />
                    </div>
                </div>
            </div>

        </form>
    </pfng-wizard-step>
    <pfng-wizard-step [config]="step3Config" (onShow)="startDeploy()">
        <div class="wizard-pf-process blank-slate-pf" *ngIf="!deployComplete">
            <div class="spinner spinner-lg blank-slate-pf-icon"></div>
            <h3 class="blank-slate-pf-main-action">Update in progress</h3>
        </div>
        <div class="wizard-pf-complete blank-slate-pf" *ngIf="deployComplete && deploySuccess">
            <div class="wizard-pf-success-icon"><span class="glyphicon glyphicon-ok-circle"></span></div>
            <h3 class="blank-slate-pf-main-action">Update was successful</h3>
        </div>
        <div class="wizard-pf-complete blank-slate-pf" *ngIf="deployComplete && !deploySuccess">
            <div class="wizard-pf-success-icon"><span class="pficon pficon-error-circle-o"></span></div>
            <h3 class="blank-slate-pf-main-action">Update failed</h3>
        </div>s
    </pfng-wizard-step>
</pfng-wizard>
s