<div class="col-lg-12">
    <ol class="fas breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/issues']">
                Issues
            </a>
        </li>
        <li class="breadcrumb-item active">
            {{issueReference}}
        </li>
        <span style="float: right">
            <pfng-action class="my-actions" [config]="globalActionConfig" (onActionSelect)="handleAction($event)">
            </pfng-action>
        </span>
    </ol>
</div>
<div class="col-lg-12">
    <div class="loading-container" *ngIf="loading; else loaded">
        <div class="loading">
            <div class="spinner spinner-lg"></div>
            <span>Loading</span>
        </div>
    </div>

    <ng-template #loaded>
        <div *ngIf="issueExtended; else error">
			{{issueExtended | json}}
        </div>
    </ng-template>

    <ng-template #error>
        <pfng-empty-state [config]="errorConfig"></pfng-empty-state>
    </ng-template>
</div>