<div class="col-lg-12">
    <ol class="fas breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/releases']">
                Releases
            </a>
        </li>
        <li class="breadcrumb-item active">
            {{versionNumber}}
        </li>
        <span style="float: right">
            <pfng-action class="my-actions" [config]="globalActionConfig" (onActionSelect)="handleAction($event)">
            </pfng-action>
        </span>
    </ol>
</div>
<div class="col-lg-12">
    <div class="loading-container" *ngIf="loading; else loaded">
        <div class="loading">
            <div class="spinner spinner-lg"></div>
            <span>Loading</span>
        </div>
    </div>

    <ng-template #loaded>
        <div *ngIf="release; else error">
            <tabset #staticTabs>
                <tab #tab_overview (select)="currentTab = ReleaseDetailTabEnum.OVERVIEW">
                    <ng-template tabHeading>
                        <span>Overview</span>
                    </ng-template>
                    <div  *ngIf="release.undeployed" class="col-lg-12">
                        <div class="margin-left-20">
                            <h4>
                                <div  style="color:red;"><strong>No more deployed</strong></div>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-laptop-code" [class.myApp-green]="release.packageDate"
                                    [class.myApp-orange]="!release.packageDate" [class.myApp-grey]="release.undeployed"></span><span>Build</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Build Date</strong></div>
                                <div *ngIf="release.buildDate">{{release.buildDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Package Date</strong></div>
                                <div *ngIf="release.packageDate">{{release.packageDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-user-shield"
                                    [appHistoryColor]="release.qualification"></span>
                                <span>Test platform</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Deploy Date</strong></div>
                                <div *ngIf="release.qualification">{{release.qualification.deployDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Validation Date</strong></div>
                                <div *ngIf="release.qualification">{{release.qualification.validationDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Undeploy Date</strong></div>
                                <div *ngIf="release.qualification">{{release.qualification.undeployDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-cart-check" [appHistoryColor]="release.keyUser"></span>
                                <span>Qualification platform</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Deploy Date</strong></div>
                                <div *ngIf="release.keyUser">{{release.keyUser.deployDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Validation Date</strong></div>
                                <div *ngIf="release.keyUser">{{release.keyUser.validationDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Undeploy Date</strong></div>
                                <div *ngIf="release.keyUser">{{release.keyUser.undeployDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-cash-register" [appHistoryColor]="release.pilot"></span>
                                <span>Pilot platform</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Deploy Date</strong></div>
                                <div *ngIf="release.pilot">{{release.pilot.deployDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Validation Date</strong></div>
                                <div *ngIf="release.pilot">{{release.pilot.validationDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Undeploy Date</strong></div>
                                <div *ngIf="release.pilot">{{release.pilot.undeployDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4><span class="fas myApp myApp-store" [appHistoryColor]="release.production"></span>
                                <span>Production platform</span></h4>
                            <div class="col-sm-4">
                                <div><strong>Deploy Date</strong></div>
                                <div *ngIf="release.production">{{release.production.deployDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Validation Date</strong></div>
                                <div *ngIf="release.production">{{release.production.validationDate | date}}</div>
                            </div>
                            <div class="col-sm-4">
                                <div><strong>Undeploy Date</strong></div>
                                <div *ngIf="release.production">{{release.production.undeployDate | date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="margin-left-20">
                            <h4>
                                <span>Comment</span>
                            </h4>
                            <div class="col-sm-4">
                                <markdown ngPreserveWhitespaces [data]="release.comment"></markdown>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab #tab_releasenote [active]="currentTab ===  ReleaseDetailTabEnum.RELEASE_NOTE" (select)="currentTab = ReleaseDetailTabEnum.RELEASE_NOTE">
                    <ng-template tabHeading>
                        <span class="fas {{issueIconStyleClass}}"></span> <span class="padding-left-5">Release note
                            ({{releaseFull.issues.length}})</span>
                    </ng-template>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <pfng-toolbar [config]="issueToolbarConfig" (onActionSelect)="handleAction($event)"
                                    (onFilterChange)="filterChanged($event, ReleaseDetailTabEnum.RELEASE_NOTE)"
                                    (onSortChange)="handleSortChanged($event, ReleaseDetailTabEnum.RELEASE_NOTE)">
                                </pfng-toolbar>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <pfng-list id="myList" [items]="issues" [itemTemplate]="issueTemplate"
                            [actionTemplate]="issueActionTemplate">
                            <ng-template #issueTemplate let-item="item" let-index="index">
                                <div class="list-pf-left" [ngSwitch]="item.container">
                                    <img src="assets/images/mantis_logo.png" class="list-pf-icon-small"
                                        *ngSwitchCase="'MANTIS'" />
                                    <img src="assets/images/jira.svg" class="list-pf-icon-small"
                                        *ngSwitchCase="'JIRA'" />
                                </div>
                                <div class="list-pf-content-wrapper">
                                    <div class="list-pf-main-content">
                                        <div class="list-pf-title">
                                            {{item.reference}}
                                            <div class="list-pf-description" style="font-weight: initial;">
                                                {{item.description}}</div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #issueActionTemplate let-item="item" let-index="index">
                                <pfng-action class="list-pf-actions" [config]="issueActionConfig"
                                    (onActionSelect)="handleAction($event, item)">
                                </pfng-action>
                            </ng-template>
                        </pfng-list>
                        <pfng-pagination [config]="issuePaginationConfig"
                            (onPageNumberChange)="handlePageNumber($event, ReleaseDetailTabEnum.RELEASE_NOTE)"
                            (onPageSizeChange)="handlePageSize($event, ReleaseDetailTabEnum.RELEASE_NOTE)">
                        </pfng-pagination>

                    </div>
                </tab>
                <tab #tab_patches [active]="currentTab === ReleaseDetailTabEnum.PATCHES" (select)="currentTab = ReleaseDetailTabEnum.PATCHES">
                    <ng-template tabHeading>
                        <span class="fas {{patchIconStyleClass}}"></span> <span class="padding-left-5">Patches
                            ({{releaseFull.patches.length}})</span>
                    </ng-template>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <pfng-toolbar [config]="patchToolbarConfig" (onActionSelect)="handleAction($event)"
                                    (onFilterChange)="filterChanged($event, ReleaseDetailTabEnum.PATCHES)"
                                    (onSortChange)="handleSortChanged($event, ReleaseDetailTabEnum.PATCHES)">
                                </pfng-toolbar>
                                <ng-template #createPatch>
					                <app-patch-create [release]="release" (close)="onWizardClose($event)"></app-patch-create>
					            </ng-template>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <pfng-list id="myList" [items]="patches" [itemTemplate]="patchTemplate" [actionTemplate]="patchActionTemplate">
                            <ng-template #patchTemplate let-item="item" let-index="index">
                                <div class="list-pf-content-wrapper">
                                    <div class="list-pf-main-content">
                                            <div class="list-pf-title">
                                                <a
                                                    routerLink="/patch/{{versionNumber}}/{{item.sequenceNumber}}">{{item.sequenceNumber}}</a>
                                            </div>
                                            <div class="list-pf-description">
                                            	<div *ngFor="let issue of item.issues">
                                            	<span [ngSwitch]="issue.container">
				                                    <img src="assets/images/mantis_logo.png" class="list-pf-icon-small"
				                                        *ngSwitchCase="'MANTIS'" />
				                                    <img src="assets/images/jira.svg" class="list-pf-icon-small"
				                                        *ngSwitchCase="'JIRA'" />
				                                </span>
                                            	<span title="{{issue.description}}" >{{issue.reference}}</span>
                                            	</div>
                                            </div>
                                    </div>
                                    <div class="list-pf-additional-content">
                                        <span class="fas fa myApp myApp-laptop-code"
                                             [class.myApp-green]="item.packageDate && !item.undeployed"
                                             [class.myApp-orange]="!item.packageDate && !item.undeployed"
                                             [class.myApp-grey]="item.undeployed"></span>
                                        <span class="fas fa myApp myApp-user-shield"
                                            [appHistoryColor]="item.qualification"></span>
                                        <span class="fas fa myApp myApp-cart-check"
                                            [appHistoryColor]="item.keyUser"></span>
                                        <span class="fas fa myApp myApp-cash-register"
                                            [appHistoryColor]="item.pilot"></span>
                                        <span class="fas fa myApp myApp-store"
                                            [appHistoryColor]="item.production"></span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #patchActionTemplate let-item="item" let-index="index">
                                <pfng-action class="list-pf-actions" [config]="patchActionConfig"
                                    (onActionSelect)="handleAction($event, item)">
                                </pfng-action>
                            </ng-template>
                        </pfng-list>
                        <pfng-pagination [config]="patchPaginationConfig"
                            (onPageNumberChange)="handlePageNumber($event, ReleaseDetailTabEnum.PATCHES)"
                            (onPageSizeChange)="handlePageSize($event, ReleaseDetailTabEnum.PATCHES)"></pfng-pagination>

                    </div>
                </tab>
                <tab #tab_all_issues [active]="currentTab === ReleaseDetailTabEnum.ALL_ISSUES" (select)="currentTab = ReleaseDetailTabEnum.ALL_ISSUES">
                    <ng-template tabHeading>
                        <span class="fas {{issueIconStyleClass}}"></span> <span class="padding-left-5">All Issues
                            ({{allOriginalIssues.length}})</span>
                    </ng-template>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <pfng-toolbar [config]="allIssueToolbarConfig" (onActionSelect)="handleAction($event)"
                                    (onFilterChange)="filterChanged($event, ReleaseDetailTabEnum.ALL_ISSUES)"
                                    (onSortChange)="handleSortChanged($event, ReleaseDetailTabEnum.ALL_ISSUES)">
                                </pfng-toolbar>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <pfng-list id="myList" [items]="allIssues" [itemTemplate]="issueTemplate"
                            [actionTemplate]="issueActionTemplate">
                        </pfng-list>
                        <pfng-pagination [config]="allIssuePaginationConfig"
                            (onPageNumberChange)="handlePageNumber($event, ReleaseDetailTabEnum.ALL_ISSUES)"
                            (onPageSizeChange)="handlePageSize($event, ReleaseDetailTabEnum.ALL_ISSUES)">
                        </pfng-pagination>

                    </div>
                </tab>
            </tabset>
        </div>
    </ng-template>

    <ng-template #error>
        <pfng-empty-state [config]="errorConfig"></pfng-empty-state>
    </ng-template>
    <ng-template #updateRelease>
        <app-release-update [release]="releaseFull" (close)="onWizardClose($event)"></app-release-update>
    </ng-template>
    <ng-template #updatePatch>
         <app-patch-update [patch]="selectedPatch" (close)="onWizardClose($event)"></app-patch-update>
     </ng-template>
</div>