<div class="col-lg-12">
    <ol class="fas breadcrumb">
        <li class="breadcrumb-item active">
            Releases
        </li>
    </ol>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <pfng-toolbar [config]="toolbarConfig" (onActionSelect)="handleAction($event)"
                (onFilterChange)="filterChanged($event)" (onSortChange)="handleSortChanged($event)">
            </pfng-toolbar>
            <ng-template #createRelease>
                <app-release-create (close)="onWizardClose($event)"></app-release-create>
            </ng-template>
            <ng-template #importRelease>
                <app-release-import (close)="onImportWizardClose($event)"></app-release-import>
            </ng-template>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-group">
            <pfng-list id="myList" [actionTemplate]="actionTemplate" [items]="items | skipUndeploy"
                [itemTemplate]="releaseTemplate">
                <ng-template #releaseTemplate let-item="item" let-index="index" let-release="item.release">
                    <div class="list-pf-content-wrapper">
                        <div class="list-pf-main-content">
                            <div class="list-pf-title"><a
                                    routerLink="/release/{{item.release.version.versionNumber}}">{{item.release.version.versionNumber}}</a>
                            </div>
                        </div>
                        <div class="list-pf-additional-content" style="justify-content:flex-start; flex-basis: 16%">
                            <div>
                                <span class="fa list-pf-title">{{item.issues.length}}</span> <span
                                    class="fas {{issueIconStyleClass}}"></span>
                            </div>
                            <div>
                                <span class="fa list-pf-title">{{item.patches.length}}</span> <span
                                    class="fas {{patchIconStyleClass}}"></span>
                            </div>
                        </div>
                        <div class="list-pf-additional-content" style="justify-content:flex-end">
                            <div>
                                <span class="fas myApp myApp-laptop-code" [class.myApp-green]="release.packageDate"
                                    [class.myApp-orange]="!release.packageDate"
                                    [class.myApp-grey]="release.undeployed"></span>
                            </div>
                            <div>
                                <span class="fas myApp myApp-user-shield"
                                    [appHistoryColor]="release.qualification"></span>
                            </div>
                            <div>
                                <span class="fas myApp myApp-cart-check" [appHistoryColor]="release.keyUser"></span>
                            </div>
                            <div>
                                <span class="fas myApp myApp-cash-register" [appHistoryColor]="release.pilot"></span>
                            </div>
                            <div>
                                <span class="fas myApp myApp-store" [appHistoryColor]="release.production"></span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #actionTemplate let-item="item" let-index="index">
                    <pfng-action class="list-pf-actions" [config]="releaseActionConfig"
                        (onActionSelect)="handleAction($event, item)">
                    </pfng-action>
                </ng-template>
            </pfng-list>
            <ng-template #updateRelease>
                <app-release-update [release]="selectedRelease" (close)="onWizardClose($event)"></app-release-update>
            </ng-template>
            <pfng-pagination [config]="paginationConfig" (onPageNumberChange)="handlePageNumber($event)"
                (onPageSizeChange)="handlePageSize($event)"></pfng-pagination>
        </div>
    </div>
</div>