<div class="col-sm-4">
    <pfng-card class="custom-card" [config]="config" [headerTemplate]="spacesHeaderTemplate">
        <ng-template #spacesHeaderTemplate>
            <div class="card-pf-heading-details">
                <!-- <span class="fas fa myApp myApp-user-shield" [appSummaryColor]="item.qualification"
                    appSummaryType="release"></span>
                <span class="fas fa myApp myApp-cart-check" [appSummaryColor]="item.keyUser"
                    appSummaryType="release"></span>
                <span class="fas fa myApp myApp-cash-register" [appSummaryColor]="item.pilot"
                    appSummaryType="release"></span>
                <span class="fas fa myApp myApp-store" [appSummaryColor]="item.production"
                    appSummaryType="release"></span> -->
                <span *ngFor="let au of applicationUsers" style="padding: 0px 5px;font-size: 14px;">
                    <img [src]="au.logo | safe: 'url'" width="28px" height="28px">
                    {{au.name}}
                    <img [src]="'/assets/images/i8n/' + au.country + '.svg'" width="28px"
                    height="28px"></span>
            </div>
            <h2 class="card-pf-title">
                <a routerLink="/release/{{item.versionNumber}}">{{item.versionNumber}}</a>
            </h2>
        </ng-template>
        <div class="col-sm-12 custom-blank-slate-card">
            <div *ngIf="item.patchCount > 0">
                <div class="row">
                    <div class="col-sm-6  text-center"
                        [ngStyle]="{ 'color' : (item.patchCount > (patchThreshold * 0.8)) ? '#cc0000' : (item.patchCount > (patchThreshold * 0.4)) ? '#ec7a08' : '#3f9c35' }">
                        <!-- <pfng-utilization-donut-chart [config]="packageConfig">
                        </pfng-utilization-donut-chart> -->
                        <div class="row">
                            <span class="fas fa fa-plus-square"></span>
                        </div>
                        <div class="row">
                            <a routerLink="/release/{{item.versionNumber}}/PATCHES" style="font-size: 5vw;"
                                [ngStyle]="{ 'color' : (item.patchCount > (patchThreshold * 0.8)) ? '#cc0000' : (item.patchCount > (patchThreshold * 0.4)) ? '#ec7a08' : '#3f9c35' }"
                                title="{{(item.patchCount > (patchThreshold * 0.8)) ? 'More than 40' : ( item.patchCount > (patchThreshold * 0.4) ? 'More than 20' : 'Less than 20')}}">
                                {{item.patchCount}}</a>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="row">
                            <span class="fas fa myApp myApp-store" [appSummaryColor]="item.production"
                                appSummaryType="release"></span>
                        </div>
                        <div class="row">
                            <app-release-card-chart-container [platformSummary]="item.production"
                                [height]="chartHeight">
                                <pfng-donut-chart [chartData]="productionData" [config]="productionConfig">
                                </pfng-donut-chart>
                            </app-release-card-chart-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="row">
                            <span class="fas fa myApp myApp-user-shield" [appSummaryColor]="item.qualification"
                                appSummaryType="release"></span>
                        </div>
                        <div class="row">
                            <app-release-card-chart-container [platformSummary]="item.qualification"
                                [height]="chartHeight">
                                <pfng-donut-chart [chartData]="qualificationData" [config]="qualificationConfig">
                                </pfng-donut-chart>
                            </app-release-card-chart-container>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="row">
                            <span class="fas fa myApp myApp-cart-check" [appSummaryColor]="item.keyUser"
                                appSummaryType="release"></span>
                        </div>
                        <div class="row">
                            <app-release-card-chart-container [platformSummary]="item.keyUser" [height]="chartHeight">
                                <pfng-donut-chart [chartData]="keyUserData" [config]="keyUserConfig"></pfng-donut-chart>
                            </app-release-card-chart-container>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="row">
                            <span class="fas fa myApp myApp-cash-register" [appSummaryColor]="item.pilot"
                                appSummaryType="release"></span>
                        </div>
                        <div class="row">
                            <app-release-card-chart-container [platformSummary]="item.pilot" [height]="chartHeight">
                                <pfng-donut-chart [chartData]="pilotData" [config]="pilotConfig">
                                </pfng-donut-chart>
                            </app-release-card-chart-container>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="item.patchCount === 0">
                <div class="col-sm-12  text-center" style="color : #3f9c35">
                    <div class="row">
                        <span class="fas fa fa-plus-square"></span>
                    </div>
                    <div class="row">
                        <span style="font-size: 5vw;" title="No patch... yet">0</span>
                    </div>
                </div>

            </div>
        </div>
    </pfng-card>
</div>