<div class="container-fluid pfng-fluid-width-container">
    <div class="row">
        <div class="col-lg-4">
            <pfng-info-status-card [config]="releaseConfig">
            </pfng-info-status-card>
        </div>
        <div class="col-lg-4">
            <pfng-info-status-card [config]="patchConfig">
            </pfng-info-status-card>
        </div>
        <div class="col-lg-4">
            <pfng-info-status-card [config]="issueConfig">
            </pfng-info-status-card>
        </div>
    </div>
    <hr />
    <div class="row  row-cards-pf">
        <div *ngFor="let item of releaseSummaries | skipUndeploy">
            <div *ngIf="item">
                <app-release-card [item]="item"></app-release-card>
            </div>
        </div>
    </div>
</div>