<div class="container-fluid pfng-fluid-width-container">
    <div class="col-sm-12 text-center" *ngIf="applicationUser">
        <div class="col-sm-4 col-sm-offset-4" >
            <span style="padding: 0px 5px;font-size: 14px;">
                <img [src]="applicationUser.logo | safe: 'url'" width="28px" height="28px">
                {{applicationUser.name}}
                <img [src]="'/assets/images/i8n/' + applicationUser.country + '.svg'" width="28px"
                height="28px"></span>
        </div>
    </div>
    <div *ngFor="let item of (filteredReleaseSummaries)">
        <div *ngIf="item">
            <app-release-card [item]="item" [showApplicationUsers]="false" ></app-release-card>
        </div>
    </div>
</div>