<h2>Release Comparison</h2>

<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" (ngSubmit)="submit()">
            <div class="form-group required">
                <label class="col-sm-1 control-label  required-pf" for="fromVersion">From Version</label>
                <div class="col-sm-2">
                    <input id="myList" [(ngModel)]="fromVersion" [ngModelOptions]="{standalone: true}"
                        class="form-control" [typeahead]="releases" typeaheadOptionField="version.versionNumber"
                        [typeaheadMinLength]="0" autocomplete="off">
                </div>
                <label class="col-sm-1 control-label  required-pf" for="toVersion">To Version</label>
                <div class="col-sm-2">
                    <input id="myList" [(ngModel)]="toVersion" [ngModelOptions]="{standalone: true}"
                        class="form-control" [typeahead]="releases" typeaheadOptionField="version.versionNumber"
                        [typeaheadMinLength]="0" autocomplete="off">
                </div>
                <button type="submit">Compare</button>
            </div>
        </form>
    </div>
</div>

<div class="row text">
    <div class="col-sm-12">
        <h2>Version Tree
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <app-version-graph [releaseComparison]="versionCompare" [config]="versionGrahConfig"></app-version-graph>
    </div>
</div>
<div class="row text">
    <div class="col-sm-12">
        <h2>Issue comparison</h2>
    </div>
</div>

<div class="padding-15">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <pfng-table [columns]="columns" [config]="tableConfig" [rows]="rows"
                    (onFilterChange)="filterChanged($event)" (onPageNumberChange)="handlePageNumber($event)"
                    (onPageSizeChange)="handlePageSize($event)" (onSortChange)="handleSortChanged($event)">
                </pfng-table>
                <!-- Column templates -->
                <ng-template #issueTemplate let-row="row">
                    <div class="list-pf-left" [ngSwitch]="row.issue.container">
                        <img src="/src/assets/images/mantis_logo.png" class="list-pf-icon-small"
                            *ngSwitchCase="'MANTIS'" />
                        <img src="/src/assets/images/jira.svg" class="list-pf-icon-small" *ngSwitchCase="'JIRA'" />
                        <a [attr.href]="buildIssueUrl(row.issue)" target="_blank">{{row.issue.reference}} -
                            {{row.issue.description}}</a>
                    </div>
                </ng-template>
                <ng-template #sourcesTemplate let-row="row">
                    <span *ngFor="let src of row.sourcePatches.patches" class="col-sm-12">
                        <a routerLink="/patch/{{row.sourcePatches.release}}/{{src}}"> {{row.sourcePatches.release}}
                            - {{src}} </a>
                    </span>
                    <span *ngFor="let src of row.sourceReleases" class="col-sm-12">
                        <a routerLink="/release/{{src.version.versionNumber}}">{{src.version.versionNumber}}</a>
                    </span>
                </ng-template>
                <ng-template #destTemplate let-row="row">
                    <span *ngFor="let src of row.destPatches.patches" class="col-sm-12">
                        <a routerLink="/patch/{{row.destPatches.release}}/{{src}}"> {{row.destPatches.release}}
                            - {{src}} </a>
                    </span>
                    <span *ngFor="let dest of row.destReleases" class="col-sm-12">
                        <a routerLink="/release/{{dest.version.versionNumber}}">{{dest.version.versionNumber}}</a>
                    </span>
                </ng-template>
            </div>
        </div>
    </div>
</div>